.cta-section {
	&__row {
		max-width: 1250px;
		padding: 0;
		margin: 0 auto;
		padding: 6rem 0 2.3125rem;

		@media (max-width: 575.6px) {
			flex-direction: column-reverse;
			max-width: none;
		}

		&__copy {
			padding: 0 0.7rem;
			margin: 0;

			& h2 {
				@include heading-three;
				margin-top: 1.73rem;
				margin-bottom: 0;
			}

			& p {
				@include brief-summ;
				max-width: 32rem;
			}

			& button {
				@include header-btn;
				width: auto;

				margin-top: 3.4%;
				padding: 1.2rem 3rem;

				&:hover {
					border-color: var(--secondary-bg-color);
					border-radius: 5px;
				}
			}
		}

		&__graphic {
			padding: 0;
			margin: 0;

			& img {
				max-width: 512px;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;

				@media (min-width: 575.51px) {
					transform: translate(20px, -35px);
					@include object-fit-cover;
				}
			}
		}

		&__copy,
		&__graphic {
			max-height: 487px;
		}

		&__copy {
			@media (max-width: 575.5px) {
				max-height: none;
			}
		}
	}
	&__row.reverse {
		flex-direction: row-reverse;

		@media (max-width: 575.6px) {
			flex-direction: column-reverse;
		}
	}
}

.cta-section.dark {
	background-color: var(--secondary-bg-color);
}
