.hero {
	padding: 6.1rem 0 2.1rem;

	&__intro {
		height: 100%;
		width: 100%;
		margin: 0 auto;
		padding: 0.8rem 0 0;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;

		& h1 {
			@include heading-one;
			max-width: 53.125rem;
			width: 100%;
		}
	}
}
