@mixin generic-text {
	font-size: 16px;
	line-height: 21px;

	@include poppins-med;
}

@mixin brief-summ {
	font-size: 20px;
	line-height: 26px;
	@include poppins-med;
}

@mixin sub-heading {
	@include poppins-reg;
	color: #030303;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
}
